.GameOver {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.GameOver-box {
	background-color: #626c80;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60vw;
	height: 30vh;
	font-size: 2rem;
	font-weight: 800;
	flex-direction: column;
}
.GameOver-button {
	color: white;
	font-size: 2rem;
	margin: 1rem 0;
	padding: 0.5rem 2rem;
	border: 5px solid #272b33;
	background-color: #272b33;
	border-radius: 7px;
}

.GameOver-button:hover {
	color: #93a2bf;
	border: 5px solid #313640;
	background-color: #313640;
}
