.Square {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 150px;
	width: 150px;
	font-size: 3rem;
	font-weight: 800;
}

.Square:nth-child(1),
.Square:nth-child(2) {
	border-bottom: 8px solid #626c80;
}
